.table{
    border-collapse: collapse;
    margin: 25px 0px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 28%) 2.4px 2.4px 3.2px;
}

.table-heading{
    background-color: #013220;
     color: white;
     text-align: left;
     font-weight: bold;
}

.table th, .table td{
    padding: 12px 15px;
}

.table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type{
    border-bottom: 2px solid #013220 ;
}